<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Launch the training system -->
    <node pkg="deepsoccer_ros" name="deepsoccer_camera" type="deepsoccer_camera" output="screen"/>
    <node pkg="deepsoccer_ros" name="deepsoccer_motors" type="deepsoccer_motors.py" output="screen"/>
    <node pkg="deepsoccer_ros" name="deepsoccer_solenoid" type="deepsoccer_solenoid.py" output="screen"/>
    <node pkg="deepsoccer_ros" name="deepsoccer_roller" type="deepsoccer_roller.py" output="screen"/>
    <node pkg="deepsoccer_ros" name="deepsoccer_lidar" type="deepsoccer_lidar.py" output="screen"/>
    <node pkg="deepsoccer_ros" name="deepsoccer_infrared" type="deepsoccer_infrared.py" output="screen"/>
</launch>